{% extends "blog/base.html"%}
{% load blog_tags %}
{% load crispy_forms_tags %}
{%block content%}

<article class="media content-section"  >
    <img  class="rounded-circle article-img" src="{{post.author.profile.image.url}}"  >
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted | date:"F,d,Y"}}</small>
        {% if post.author == user %}
            <div>
                <a  class ="btn btn-secondary btn-sm mt-1 mb-1 "href="{% url 'post-update' post.id %}">Update</a>
                <a  class ="btn btn-danger btn-sm mt-1 mb-1 "href="{% url 'post-delete' post.id %}">Delete</a>

            </div>
            
        {% endif%}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content |markdown }}</p>
    </div>
    </article>

    <h2>Similar posts</h2>
{% for post in similar_posts %}
<p>
<a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
</p>
{% empty %}
There are no similar posts yet.
{% endfor %}

    
{% with comments.count as total_comments %}
<h2>
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}



{% for comment in comments %}
<div class="comment font-italic">
<p class="info">  
Comment {{ forloop.counter }} by {{ comment.username }}
{{ comment.created  }}
</p>
 
{{ comment.body|linebreaks  }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}


{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
<form action="." method="post">
{{ comment_form |crispy }}
{% csrf_token %}
<p><input type="submit" value="Add comment"></p>
</form>
{% endif %}

  

{% endblock content%}
